<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
    <script src="{% static "conc/js/push.js" %}"></script>
    <script src="{% static "zui/js/zui.min.js" %}"></script>
    <!-- ZUI -->
    <link href="{% static "zui/css/zui.min.css" %}" rel="stylesheet">
    <title>智财 - 金融数据</title>
</head>
<body>

{% include 'nav.html' %}

<div class="center-block">

</div>

</body>
</html>