<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
    <script src="{% static "conc/js/push.js" %}"></script>
    <script src="{% static "zui/js/zui.min.js" %}"></script> <!-- ZUI JS -->

    <link rel="stylesheet" href="{% static "conc/css/theme.css" %}">
    <link rel="stylesheet" href="{% static "zui/css/zui.min.css" %}"> <!-- ZUI CSS -->
    <title>智财 - 金融数据</title>
</head>
<body>

{% include 'nav.html' %}

<div id="page" class="container">
    <div class="conc-frame-left">
    </div>

    <div class="conc-frame-right">
        <h4>EIA周报</h4>
    </div>

    <h2 cursor="current">测试字段</h2>
    <h2>测试字段</h2>
</div>

</body>
</html>