{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
<div class="navbar navbar-inverse navbar-fixed-top" id="navbar" role="banner" style="padding-right: 10px;">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span class="brand-title" style="font-size: x-large">知财事</span>
            </a>
        </div>
    </div>
</div>


{#</body>#}
{#</html>#}